<section class='list-section'>
  <h1>Lista de Productos</h1>
  <ul class='list-container'>
    {{#if products}}
      {{#each products}}
        <li>
          <picture>
            {{#each this.thumbnails}}
              <img src={{this.path}} alt={{this.name}} />
            {{/each}}
          </picture>
          <div class='list-description'>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
          </div>
          <div class='btn'>
            <a class='btn-update' href='/products/{{this._id}}'>Ver detalles</a>
          </div>

        </li>
      {{/each}}
    {{else}}
      <strong>No se ha encontrado ningun producto</strong>
    {{/if}}
  </ul>

  <!-- Controles de navegación -->
  <div class='list-controls'>
    {{#if prevPage}}
      <a
        href='/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}'
      >Anterior</a>
    {{/if}}

    {{#if nextPage}}
      <a
        href='/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}'
      >Siguiente</a>
    {{/if}}
  </div>
</section>

<div id='myModal' class='modal'>
  <div class='modal-content'>
    <div class='modal-header'>
      <span class='close'>&times;</span>
      <h3>Eliminar Producto</h3>
    </div>
    <div class='modal-body'>
      <p>¿Estas seguro que desea agregar el producto al carrito?</p>
    </div>
    <div class='modal-footer'>
      <button class='btn-delete-confirm'>Agregar</button>
    </div>
  </div>
</div>

<script>

</script>