{{#if user}}

  <div>
    <h1>Perfil del usuario</h1>
    <p>BIENVENIDO: {{user.first_name}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>

    <form action='/api/v1/sessions/logout' method='get'>
      <button type='submit'>Cerrar sesión</button>
    </form>
  </div>
  <div>
    <a href='/profile'>Ir a Perfil</a>
  </div>
{{/if}}

<section class='list-section'>
  <h1>Lista de Productos desde la BD</h1>
  <ul class='list-container'>
    {{#if products}}
      {{#each products}}
        <li>
          <picture>
            {{#each this.thumbnails}}
              <img src={{this.path}} alt={{this.name}} />
            {{/each}}
          </picture>
          <div class='list-description'>
            <h3>{{this.title}}</h3>
            <p>{{this.description}}</p>
          </div>
          <div class='btn'>
            <a class='btn-update' href='/products/{{this._id}}'>Ver detalles</a>
          </div>

        </li>
      {{/each}}
    {{else}}
      <strong>No se ha encontrado ningun producto</strong>
    {{/if}}
  </ul>

  <!-- Controles de navegación -->
  <div class='list-controls'>
    {{#if prevPage}}
      <a
        href='/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&query={{query}}'
      >Anterior</a>
    {{/if}}

    {{#if nextPage}}
      <a
        href='/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&query={{query}}'
      >Siguiente</a>
    {{/if}}
  </div>
</section>