<div class='product-details'>
  <h1>Detalles del producto: </h1>
  <li>
    <picture>
      {{#each data.thumbnails}}
        <img src={{data.path}} alt={{data.name}} />
      {{/each}}
    </picture>

    <div class='list-description'>
      <h3>{{data.title}}</h3>
      <p>{{this.description}}</p>
      <p><strong>Precio:</strong> {{data.price}}</p>
      <p><strong>Código:</strong> {{data.code}}</p>
      <p><strong>Stock:</strong> {{data.stock}}</p>
      <p><strong>Categoría:</strong> {{data.category}}</p>
    </div>
    <div class='btn'>
      <button
        class='btn-update'
        data-product-id={{data._id}}
        id='btn-add-cart'
      >Agregar a Carrito</button>
    </div>
  </li>
</div>

<script>
  const btn = document.getElementById('btn-add-cart');
  btn.addEventListener('click', (e) => { const idProd =
  btn.getAttribute('data-product-id'); console.log(idProd ); alert(`Producto
  seleccionado con id: ${idProd}`); })
</script>