{{#if user}}

  <div>
    <h1>Perfil del usuario</h1>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Correo: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>

    <form action='/api/v1/sessions/logout' method='get'>
      <button type='submit'>Cerrar sesión</button>
    </form>
  </div>
  <div>
    <a href='/products'>Ir a Productos</a>
  </div>
{{else}}
  <div>
    <p>No tiene acceso a esta pag . Inicie sesión</p>
    <a href='/login'>Iniciar sesión</a>
  </div>
{{/if}}